.wrapper {
  gap: 10px;

  @media screen and (max-width: 768px) {
    flex: 1 !important;
  }

  span {
    font-size: var(--font-size-desc-sm);
    color: var(--color-gray-2);

    @media screen and (max-width: 768px) {
      display: block;
      font-size: var(--font-size-desc-xs);
    }
  }
}
