.card {
  .left {
    .fromCityDesc {
      margin: 0;
    }

    .title {
      @media screen and (max-width: 768px) {
        margin-bottom: 3px;
      }
    }
  }

  .right {
    max-width: 550px;
    width: 100%;
  }
}
