.wrapper {
  text-align: center;
  align-self: flex-start;

  &.positionRight {
    @media screen and (max-width: 768px) {
    }
  }

  .wrapperSpan {
    @media screen and (max-width: 768px) {
      margin-bottom: var(--space-xs-xs);
    }

    .spanTime {
      font-weight: 700;
      font-size: var(--font-size-desc-xl);
      padding-right: var(--space-xs-xs);

      @media screen and (max-width: 768px) {
        display: block;
        font-size: var(--font-size-desc-md);
        padding: 0;
      }
    }

    .dateSpan {
      font-size: var(--font-size-desc-sm);
      color: var(--color-gray-2);

      @media screen and (max-width: 768px) {
        display: block;
        font-size: var(--font-size-desc-xs);
      }
    }
  }

  .descStantion {
    margin: 0px;

    @media screen and (max-width: 768px) {
      font-size: var(--font-size-desc-sm);
    }
  }
}
