*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.ant-card-body {
  padding: var(--space-sm) !important;

  @media screen and (max-width: 768px) {
    padding: var(--space-xs) !important;
  }
}
