:root {
  --font-roboto: "Roboto", sans-serif !important;

  --color-white: #fff;
  --color-black: #000;
  --color-gray: #eee;
  --color-gray-2: #a4a4a4;
  --color-gray-light: #fafafa;
  --color-primary: #1890ff;
  --color-logo: royalblue;

  --header-height: 100px;

  --space-xs: 10px;
  --space-sm: 20px;
  --space-md: 30px;
  --space-lg: 40px;
  --space-xl: 50px;
}
